<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Color Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
</head>
<body class="bg-gray-100">

<div class="flex">
    <!-- Sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar"></div>

    <!-- Main content -->
    <div class="flex-1 flex flex-col h-screen overflow-y-scroll">
        <!-- Header -->
        <header class="bg-white shadow p-4">
            <h1 class="text-2xl font-semibold">Color Details</h1>
        </header>

        <!-- Main Content -->
        <main class="p-6">
            <div th:object="${theColor}" class="bg-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto">
                <!-- Feature Information -->
                <div class="mb-8">
                    <h2 class="text-2xl font-semibold mb-4">Color Information</h2>
                    <div class="bg-gray-50 p-6 rounded-lg shadow-sm">
                        <div class="mb-4">
                            <h3 class="text-lg font-medium text-gray-900">Color ID</h3>
                            <p th:text="*{id}" class="text-gray-700 mt-1"></p>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-lg font-medium text-gray-900">Name</h3>
                            <p th:text="*{name}" class="text-gray-700 mt-1"></p>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-lg font-medium text-gray-900">Alias</h3>
                            <p th:text="*{alias}" class="text-gray-700 mt-1"></p>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-lg font-medium text-gray-900">Code</h3>
                            <p th:text="*{colorCode}" class="text-gray-700 mt-1"></p>
                        </div>
<!--                        weakness-->
                        <div class="mb-4">
                            <h3 class="text-lg font-medium text-gray-900">Product Name</h3>
                            <p th:text="${theProduct.name}" class="text-gray-700 mt-1"></p>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-lg font-medium text-gray-900">Image</h3>
                            <img th:src="@{/images/colors/{pics} (pics = *{image})}" alt="Color Image" class="w-full h-auto object-cover rounded-lg">
                        </div>

                        <div class="flex justify-between items-center mb-6">
                            <div class="flex space-x-4">
                                <a th:href="@{/admin/color/update/{id} (id = ${theColor.id}, productId=${theProduct.id})}" class="bg-teal-600 text-white px-4 py-2 rounded-lg hover:bg-teal-700">Edit Color</a>
                                <a th:href="@{/admin/color/delete/{id} (id = ${theColor.id}, productId=${theProduct.id})}" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700">Delete Color</a>
                            </div>
                            <a class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/demo.js}"></script>
</body>
</html>
