<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create category</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
</head>
<body>
<h2>Create new category</h2>
<form role="form"
      method="post"
      th:action="@{/admin/category/create}"

      th:object="${newCategory}"
>
    <!--/* or @{create} */-->

    <label>Category name:</label>
    <input type="text" th:field="*{name}"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label>Category description:</label>
    <input type="text" th:field="*{description}"/>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br/>


    <button type="submit">Create</button>

</form>


<script type="text/javascript" th:src="@{/js/demo.js}"></script>
</body>
</html>