<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create prod series</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--<h2>Create new product series</h2>-->
<!--<form role="form"-->
<!--      method="post"-->
<!--      enctype="multipart/form-data"-->
<!--      th:action="create"-->
<!--      th:object="${newProductSeries}"-->
<!--&gt;-->
<!--    <label>Name: </label>-->
<!--    <input type="text" th:field="*{name}"/>-->
<!--    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
<!--    <br/>-->
<!--    <label>Description: </label>-->
<!--    <input type="text" th:field="*{description}"/>-->
<!--    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>-->
<!--    <br/>-->
<!--    <label>Select product line: </label>-->
<!--    <select th:field="*{productLine}">-->
<!--&lt;!&ndash;        <option value="" disabled>Select a category</option>&ndash;&gt;-->
<!--        <option th:each="prl : ${prodLineList}" th:value="${prl.id}" th:text="${prl.name}"></option>-->
<!--&lt;!&ndash;        time for dto&ndash;&gt;-->
<!--    </select>-->
<!--    <br/>-->
<!--    <label>Image</label>-->
<!--    <input type="file" name="productSeriesImg" />-->

<!--    <button type="submit">Create</button>-->

<!--</form>-->



<div class="flex">
    <!-- Sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar"></div>

    <div id="stickyMessage" class="fixed top-0 right-0 m-4 p-4 bg-gray-800 text-white rounded shadow-lg" th:if="${message != null}" th:text="${message}">

    </div>

    <!-- Main content -->
    <div class="flex-1 flex flex-col h-screen overflow-y-scroll">
        <!-- Header -->
        <header class="bg-white shadow p-4 flex justify-between items-center">
            <h1 class="text-2xl font-semibold">Create Product Series</h1>
            <a th:href="@{/admin/product-series}" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">Go Back</a>
        </header>

        <!-- Main Content -->
        <main class="p-6">
            <div class="bg-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto">
                <h2 class="text-xl font-semibold mb-4">Add New Product Series</h2>
                <form role="form"
                      method="post"
                      enctype="multipart/form-data"
                      th:action="create"
                      th:object="${newProductSeries}"
                >

                    <!-- Product Line Name -->
                    <div class="mb-4">
                        <label for="productName" class="block text-sm font-medium text-gray-700">Product Series Name</label>
                        <input type="text" th:field="*{name}" id="productName" name="name" placeholder="Enter product series name"
                               class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 text-xs mt-1"></p>
                    </div>

                    <!-- Description -->
                    <div class="mb-4">
                        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                        <textarea id="description" th:field="*{description}" name="description" rows="4" placeholder="Enter product series description"
                                  class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-red-500 text-xs mt-1"></p>
                    </div>

                    <!-- Category Selection and File Upload -->
                    <div class="flex space-x-4 mb-4">
                        <!-- Category Selection -->
                        <div class="w-1/2">
                            <label for="category" class="block text-sm font-medium text-gray-700">Select Product Line</label>
                            <select id="category" name="categoryId" th:field="*{productLine}"
                                    class="mt-1 block w-full px-2 py-2 h-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                <option th:each="prl : ${prodLineList}" th:value="${prl.id}" th:text="${prl.name}"></option>
                            </select>
                        </div>

                        <!-- File Input -->
                        <div class="w-1/2">
                            <label for="fileUpload" class="block text-sm font-medium text-gray-700">Image</label>
                            <input type="file" id="fileUpload" name="productSeriesImg"
                                   class="mt-1 block w-full px-3 py-2 h-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>
                    </div>

                    <!-- Form Buttons -->
                    <div class="flex justify-end space-x-4">
                        <button type="submit"
                                class="bg-teal-600 text-white px-4 py-2 rounded-lg hover:bg-teal-700">Create Product Series</button>

                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/demo.js}"></script>
</body>
</html>