<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Add new artist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
</head>
<body>
<h1>Create new artist</h1>
<form role="form"
    method="post"
    enctype="multipart/form-data"
    th:action="@{/admin/artist/create}"
    th:object="${newArtist}"
>
    <input type="text" th:field="*{id}"/>

    <label>Name: </label>
    <input type="text" th:field="*{name}" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label>Bio:</label>
    <input type="text" th:field="*{bio}" />
    <div th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}"></div>
    <br/>
    <label>Nationality: </label>
    <input type="text" th:field="*{nationality}" />
    <div th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></div>
    <br/>
    <label>Band: </label>
    <input type="text" th:field="*{band}" />
    <br/>
    <label>Signature Model: </label>
    <input type="text" th:field="*{signatureModel}"/>
    <div th:if="${#fields.hasErrors('signatureModel')}" th:errors="*{signatureModel}"></div>
    <br/>
    <label>Image: </label>
    <input type="file" name="artistImg" />
    <br/>
    <label>Category: </label>
    <select th:field="*{category}">
        <option th:each="cate : ${cateList}" th:value="${cate.id}" th:text="${cate.name}"></option>
    </select>
    <br/>

    <h3>Signature Product</h3>
    <ul th:each="sigProduct, sigProductStat : ${signatureProductList} ">
        <li th:text="${sigProduct.artist.name}"></li>
        <li th:text="${sigProduct.product.name}"></li>
        <li th:text="${sigProduct.product.productLine.name}"></li>
    </ul>

    <button type="submit">Create artist</button>
</form>

<form role="form"
    method="post"
    th:action="@{/admin/signature-product/assign-to-artist (artistId = ${artistId})}"
    th:object="${blankProduct}">
    <h4>Have this artist deserve signature products ?</h4>
    <br/>
    <label>Enter product name: </label>
    <input type="text" th:field="*{name}" />
    <br/>
    <span>Create a signature product for this artist ? -> <a th:href="@{/admin/signature-product/create (artistId=${artistId}) }">create now</a></span>

    <button type="submit">Add</button>
</form>


<script type="text/javascript" th:src="@{/js/demo.js}"></script>
</body>
</html>